<div class="sidebar-right" [class.collapsed]="!isOpen" *ngIf="isconnect">
  <h2 *ngIf="activeAppId == ''">Emails</h2> <!-- email-generator -->
  
  <!-- <button class="new-chat-btn" (click)="newChat()">
    <i class="fas fa-plus me-2"></i>
    NEW CHAT
  </button> -->

  <!-- <div class="mb-4">
    <input type="text" class="form-control bg-transparent text-white border-secondary" placeholder="Search Here..."
      style="border-radius: 12px;" [(ngModel)]="searchQuery">
  </div> -->

  <div class="" *ngIf="todayItems.length>0">
    <div class="chat-history-date">Today</div>
    <div class="chat-history-item"  *ngFor="let item of todayItems" [class.active] (click)="selectChat(item)">
      <div class="fw-bold mb-1">{{ item.title }}</div>
      <!-- <div class="small text-muted">{{ item.preview }}</div> -->
    </div>
  </div>

  <div class="" *ngIf="yesterdayItems.length>0">
    <div class="chat-history-date mt-4">Yesterday</div>
    <div class="chat-history-item" *ngFor="let item of yesterdayItems" (click)="selectChat(item)">
      <div class="fw-bold mb-1">{{ item.title }}</div>
      <!-- <div class="small text-muted">{{ item.preview }}</div> -->
    </div>
  </div>

  <div class="" *ngIf="weekItems.length>0">
    <div class="chat-history-date mt-4">Previous 7 days</div>
    <div class="chat-history-item" *ngFor="let item of weekItems" (click)="selectChat(item)">
      <div class="fw-bold mb-1">{{ item.title }}</div>
      <!-- <div class="small text-muted">{{ item.preview }}</div> -->
    </div>
  </div>
 
  <div class="" *ngIf="olderItems.length>0">
    <div class="chat-history-date mt-4">Older</div>
    <div class="chat-history-item active" [class.active] *ngFor="let item of olderItems" (click)="selectChat(item)">
      <div class="fw-bold mb-1">{{ item.title }}</div>
      <!-- <div class="small text-muted">{{ item.preview }}</div> -->
    </div>
  </div>


  <div class="text-center mt-4">
    <button class="btn btn-outline-light btn-sm" style="border-radius: 12px;" (click)="showMore()">
      Show More <i class="fas fa-chevron-down ms-1"></i>
    </button>
  </div>
</div>