<div class="chat-messages ai-response">
  <div class="chat-input-container card text-white p-4">
    <h4 class="mb-4">Générateur d'email IA</h4>
    <form #loginForm="ngForm" (ngSubmit)="(isCreate)? generateEmail() : updateEmail()">
      <div class="row">
        <div class="col-lg-6 mb-3">
          <label for="nom" class="form-label">
            Votre nom
            <i class="bi bi-info-circle help-icon"
              ngbTooltip="Entrez votre nom complet tel qu'il doit apparaître dans la signature de l'email"
              placement="top" triggers="hover" container="body">
            </i>
          </label>
          <input type="text" class="form-control" id="nom" name="nom" aria-describedby="nomHelp"
            [(ngModel)]="emailRequest.nom" required
            placeholder="Ex. Jean Dupont">
          <input type="text" class="form-control" id="id" name="id" aria-describedby="nomHelp"
            [(ngModel)]="id" hidden>
          <div id="nomHelp" class="form-text">Ce nom apparaîtra dans la signature.</div>
        </div>

        <div class="col-lg-6 mb-3">
          À (Destinataire)
          <label for="destinataire" class="form-label">
            <i class="bi bi-info-circle help-icon"
              ngbTooltip="Nom ou adresse email de la personne qui recevra votre message" placement="top"
              triggers="hover" container="body"></i>
          </label>
          <input type="text" class="form-control" id="destinataire" name="destinataire"
            [(ngModel)]="emailRequest.destinataire" required
            placeholder="Ex. Madame Martin (RH) ou martin@entreprise.com">
        </div>
      </div>

      <div class="mb-3">
        <label for="objet" class="form-label">
          Objet
          <i class="bi bi-info-circle help-icon"
            ngbTooltip="Le sujet de votre email. Soyez précis et concis pour attirer l'attention du destinataire"
            placement="top" triggers="hover" container="body"></i>
        </label>
        <input type="text" class="form-control" id="objet" name="objet" aria-describedby="objetHelp"
          [(ngModel)]="emailRequest.objet"
          placeholder="Ex. Candidature au poste de développeur web">
        <div id="objetHelp" class="form-text">Un objet clair améliore les chances d'ouverture.</div>
      </div>

      <div class="mb-3">
        <label for="contexte" class="form-label">
          Contexte
          <i class="bi bi-info-circle help-icon"
            ngbTooltip="Décrivez la situation actuelle, les antécédents ou les éléments de contexte nécessaires à la compréhension de votre demande"
            placement="top" triggers="hover" container="body"></i>
        </label>
        <input type="text" class="form-control" id="contexte" aria-describedby="contexteHelp" name="contexte"
          [(ngModel)]="emailRequest.context" required
          placeholder="Ex. Suite à notre entretien du 12 septembre...">
        <div id="contexteHelp" class="form-text">Donnez le contexte pour une meilleure compréhension.</div>
      </div>

      <div class="mb-3">
        <label for="objectif" class="form-label">
          Objectif
          <i class="bi bi-info-circle help-icon"
            ngbTooltip="Quel est le but de cet email ? Que voulez-vous obtenir comme réponse ou action de la part du destinataire ?"
            placement="top" triggers="hover" container="body"></i>
        </label>
        <input type="text" class="form-control" id="objectif" name="objectif" aria-describedby="objectifHelp"
          [(ngModel)]="emailRequest.objectif" required
          placeholder="Ex. Obtenir un rendez-vous la semaine prochaine">
        <div id="objectifHelp" class="form-text">Définissez clairement ce que vous attendez.</div>
      </div>
